bin/Debug/net5.0/Classroom.dll
bin/Debug/net5.0/Classroom.exe
bin/Debug/net5.0/Classroom.pdb
bin/Debug/net5.0/ref/Classroom.dll
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Classroom.csproj.AssemblyReference.cache
obj/Debug/net5.0/Classroom.dll
obj/Debug/net5.0/Classroom.pdb
obj/Debug/net5.0/ref/Classroom.dll
